/* This file is for your main application css. */
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import "./browser_style_reset.css";
@import "./core_styling.css";
@import "./keyboard.css";
@import "./tournament.css";
@import "./led_lights.css";

/* Core styles */

p {
  padding: 8px;
  line-height: 1.4;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Audiowide", cursive;
}
h1 {
  font-size: 2em;
  color: #429888;
}
h2 {
  font-size: 1.5em;
  color: #429888;
}
h3 {
  font-size: 1.17em;
  color: #666;
}
h4 {
  font-size: 1.12em;
  color: #666;
}
h5 {
  font-size: 0.83em;
}
h6 {
  font-size: 0.75em;
}

table {
  font-family: "Roboto", sans-serif;
  background-color: transparent;
}

td,
th {
  text-align: left;
  padding: 8px;
}

tr {
  border-bottom: 1px #999 solid;
}
tr:last-child {
  border-bottom: none;
}
tr:first-child {
  border-bottom: 1px #999 solid;
}

html {
  background-color: #948d83;
}

strong {
  font-weight: bold;
}
html {
  height: 100%;
}
body {
  margin: 0;
}
