:root {
  --base_color_red: 74;
  --base_color_green: 74;
  --base_color_blue: 84;
  --main_theme_color: rgb(
    calc(var(--base_color_red)),
    calc(var(--base_color_green)),
    calc(var(--base_color_blue))
  );

  --lightness_increment: 18;

  --main_theme_shade_1: rgb(
    calc(var(--base_color_red) + var(--lightness_increment)),
    calc(var(--base_color_green) + var(--lightness_increment)),
    calc(var(--base_color_blue) + var(--lightness_increment))
  );
  --main_theme_shade_2: rgb(
    calc(var(--base_color_red) + var(--lightness_increment) * 1.5),
    calc(var(--base_color_green) + var(--lightness_increment) * 1.5),
    calc(var(--base_color_blue) + var(--lightness_increment) * 1.5)
  );
  --main_theme_shade_3: rgb(
    calc(var(--base_color_red) + var(--lightness_increment) * 2.2),
    calc(var(--base_color_green) + var(--lightness_increment) * 2.2),
    calc(var(--base_color_blue) + var(--lightness_increment) * 2.2)
  );
  --main_theme_shade_4: rgb(
    calc(var(--base_color_red) + var(--lightness_increment) * 3),
    calc(var(--base_color_green) + var(--lightness_increment) * 3),
    calc(var(--base_color_blue) + var(--lightness_increment) * 3)
  );

  --danger_bg_color: rgb(245, 187, 187);

  --text_light: rgb(232, 232, 232);
  --text_light_outline: rgb(216, 205, 139);
  --border_color_1: rgb(211, 211, 211);
  --border_color_2: rgb(211, 211, 211);
  --dark_gray: rgb(211, 211, 211);
  --accent_color_1: rgb(232, 232, 232);
  --accent_color_2: #ef5757;
  --screen_color: rgb(50, 50, 50);
  --header_nav_color: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(41, 41, 52, 1) 43%,
    rgba(81, 83, 85, 1) 100%
  );
  --inside_content_hover: rgb(87, 87, 87);
  --inside_content_selected: rgb(87, 87, 87);
  --inside_content_active: rgb(131, 131, 131);
  --inside_content_disabled: rgba(60, 60, 60, 0.482);
  --inside_content_text_disabled: rgb(97, 97, 97);
  --outside_content_active: rgb(
    calc(var(--base_color_red) + var(--lightness_increment) * -3),
    calc(var(--base_color_green) + var(--lightness_increment) * -3),
    calc(var(--base_color_blue) + var(--lightness_increment) * -3)
  );
  --practice_play_button_icon_size: 100px;
  --current_player_color: #296cff;
  --other_player_color: #e72c2c;
  --audience_member_color: #ffc229;
  --text_dark: rgb(36, 36, 36);

  --header_bar_height: 40px;
  --footer_bar_height: 20px;
  --footer_background: var(--dark_gray);
}

p {
  padding: 8px;
  line-height: 1.4;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Audiowide", cursive;
}
h1 {
  font-size: 2em;
  color: var(--accent_color_1);
}
h2 {
  font-size: 1.5em;
  color: var(--accent_color_1);
}
h3 {
  font-size: 1.17em;
  color: var(--text_light);
}
h4 {
  font-size: 1.12em;
  color: var(--text_light);
}
h5 {
  font-size: 0.83em;
  color: var(--text_light);
}
h6 {
  font-size: 0.75em;
  color: var(--text_light);
}

table {
  font-family: "Roboto", sans-serif;
  background-color: transparent;
}

td,
th {
  text-align: left;
  padding: 8px;
}

tr {
  border-bottom: 1px var(--border_color_1) solid;
}
tr:last-child {
  border-bottom: none;
}
tr:first-child {
  border-bottom: 1px var(--border_color_1) solid;
}

html {
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(41, 41, 52, 1) 43%,
    rgba(81, 83, 85, 1) 100%
  );
  /* background-color: #101010; */
}

strong {
  font-weight: bold;
}
html {
  height: 100%;
}
body {
  margin: 0;
}

.computer_frame {
  height: calc(
    100vh - (var(--header_bar_height) * 2 + 24px + var(--footer_bar_height))
  );
  margin: 8px;
  border-radius: 10px;
  background-color: var(--main_theme_color);
}

.computer_frame .frame_bevel {
  height: 100%;
  padding: 8px;
  border-radius: 10px;
  background-color: var(--main_theme_color);
}

.banner_button {
  box-shadow: 0 5px 13px rgb(0 0 0 / 8%);
  padding: 8px;
  background-color: var(--main_theme_color);
  width: 50%;
  cursor: pointer;
  height: 48px;
  /* max-height: 96px; */
  margin-top: 16px;
  margin-left: 25%;
  border-radius: 10px;

  border-bottom: 8px solid var(--main_theme_shade_1);
  border-right: 8px solid var(--main_theme_shade_2);
  border-top: 8px solid var(--main_theme_shade_4);
  border-left: 8px solid var(--main_theme_shade_3);
}

.banner_button:active {
  /* background-color: var(--outside_content_active); */
  border-bottom: 5px solid var(--main_theme_shade_1);
  border-right: 5px solid var(--main_theme_shade_2);
  border-top: 5px solid var(--main_theme_shade_4);
  border-left: 5px solid var(--main_theme_shade_3);
  box-shadow: none;
}

.content_button {
  margin-top: 8px;
  padding: 8px;
  cursor: pointer;
  min-height: 48px;
  max-height: 96px;
  border: 2px solid var(--border_color_2);
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(
    to bottom right,
    rgb(172, 172, 172),
    rgb(232, 232, 232)
  );
  border-radius: 10px;
}
.content_button:hover {
  background-image: linear-gradient(
    to bottom right,
    rgb(142, 142, 142),
    rgb(196, 196, 196)
  );
}

.about_page_content {
  max-width: 100%;
  margin: auto;
  padding: 16px;
  color: var(--text_light);
}

.serverlist_page_content {
  height: calc(100% - 88px);
  max-width: 100%;
  margin: auto;
  padding: 16px;
  color: var(--text_light);
}

.serverlist_flex_anchor {
  height: 100%;
  margin-top: 16px;
  display: flex;
}

.serverlist_table_wrapper {
  overflow: auto;
  flex: 16;
  border-radius: 10px;
  margin-left: 16px;
}

.serverlist_create_room_wrapper {
  overflow-x: hidden;
  overflow-y: auto;
  flex: 8;
  border-radius: 10px;
}

.create_room_wrapper {
  background-color: #fff;
  padding: 8px;
  border-radius: 10px;
  /* height: 280px; */
  max-height: calc(100% - 40px);
  overflow: auto;
}

.create_room_form {
  padding: 8px;
}

.serverlist_details_pane {
  background-color: #fff;
  padding: 8px;
  border-radius: 10px;
  height: 300px;
  max-height: calc(100% - 136px);
  overflow: auto;
}

.serverlist_details_pane_wrapper {
  overflow: auto;
  flex: 8;
  margin-left: 16px;
}

.server_details_content_wrapper {
  position: relative;
  width: 100%;
  height: 70%;
}

.server_details_content_body {
  padding-top: 8px;
  padding-bottom: 8px;
  font-style: bold;
}

.server_details_connect_button {
  bottom: 0;
  margin-left: 0;
  margin-right: 0;
  width: calc(100% - 36px);
}

.serverlist_table {
  width: 100%;
  height: 100%;
}

.serverlist_table th {
  font-family: "Audiowide", cursive;
  color: var(--text_light);
}

.serverlist_table table,
.serverlist_table td {
  border-collapse: collapse;
}

.serverlist_table thead {
  display: table; /* to take the same width as tr */
  width: calc(100% - 17px); /* - 17px because of the scrollbar width */
}

.serverlist_table tbody {
  height: calc(100% - 32px);
  display: block; /* to enable vertical scrolling */
  overflow-y: scroll; /* keeps the scrollbar even if it doesn't need it; display purpose */
}

.serverlist_table th,
.serverlist_table td {
  width: 25%; /* to enable "word-break: break-all" */
  padding: 5px;
  word-break: break-all; /* 4. */
}

.serverlist_table tr {
  display: table; /* display purpose; th's border */
  width: 100%;
  box-sizing: border-box; /* because of the border (Chrome needs this line, but not FF) */
}

.serverlist_table td {
  border-bottom: none;
  border-left: none;
}

.centered_title {
  font-family: "Audiowide", cursive;
  text-align: center;
}

.centered_text {
  text-align: center;
}

.left_title {
  font-family: "Audiowide", cursive;
  text-align: left;
  padding-left: 8px;
}

.about_page_info {
  margin: auto;
  margin-top: 16px;
  padding: 16px;
  color: var(--text_light);
  border-radius: 10px;
  max-height: calc(100vh - 416px);
  overflow: auto;
}

.about_page_info dt {
  padding-left: 8px;
}

.privacy_page_content {
  max-width: 100%;
  margin: auto;
  padding: 16px;
  color: var(--text_light);
}

.privacy_page_info {
  margin: auto;
  margin-top: 16px;
  padding: 16px;
  color: var(--text_light);
  border-radius: 10px;
  max-height: calc(100vh - 348px);
  overflow: auto;
}

.privacy_page_info dt {
  padding-left: 8px;
}

.serverlist_table tbody tr {
  cursor: pointer;
}

.serverlist_table tbody tr:hover {
  background-color: var(--inside_content_hover);
}

.narrow_page_container {
  max-width: 800px;
  margin: auto;
  padding: 24px;
  margin-top: 16px;
}

.pregame_lobby_page_content {
  max-width: 100%;
  margin: auto;
  padding: 16px;
  color: var(--text_light);
}

.outset_3d_border_deep {
  border-bottom: 16px solid var(--main_theme_shade_1);
  border-right: 16px solid var(--main_theme_shade_2);
  border-top: 16px solid var(--main_theme_shade_4);
  border-left: 16px solid var(--main_theme_shade_3);
}

.outset_3d_border_shallow {
  border-bottom: 8px solid var(--main_theme_shade_1);
  border-right: 8px solid var(--main_theme_shade_2);
  border-top: 8px solid var(--main_theme_shade_4);
  border-left: 8px solid var(--main_theme_shade_3);
}

.inset_3d_border_deep {
  border-top: 16px solid var(--main_theme_shade_1);
  border-left: 16px solid var(--main_theme_shade_2);
  border-bottom: 16px solid var(--main_theme_shade_4);
  border-right: 16px solid var(--main_theme_shade_3);
  border-radius: 10px;
}

.inset_3d_border_shallow {
  border-top: 12px solid var(--main_theme_shade_1);
  border-left: 12px solid var(--main_theme_shade_2);
  border-bottom: 12px solid var(--main_theme_shade_4);
  border-right: 12px solid var(--main_theme_shade_3);
  /* border-radius: 10px; */
}

.selected_highlight_color {
  background-color: #c7c7c7;
}

.inline_screen {
  /* background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(41, 41, 52, 1) 43%,
    rgba(81, 83, 85, 1) 100%
  ); */
  /* text-shadow: 0 0 10px var(--text_light_outline); */

  background-color: var(--screen_color);

  box-shadow: inset 0 0 20px 10px rgb(7, 7, 7);

  color: var(--text_light);
}

.pregame_lobby_flex_anchor {
  display: flex;
  margin-top: 16px;
}

.pregame_lobby_flex_anchor .pregame_content_pane {
  flex: 1;
}

.pregame_join_form {
  min-height: 400px;
}

.multi_use_items_container {
  margin: 8px;
  display: flex;
  border-radius: 4px;
}

.multi_use_item_wrapper {
  flex: 1;
}

.multi_use_item {
  padding-top: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 4px;
  text-align: center;
  background-color: var(--main_theme_color);
  border: 1px solid var(--text_light);
  cursor: pointer;
}

.selected_multi_use_item {
  border-bottom: none;
}

.switch {
  position: relative;
  display: inline-block;
  top: 3px;
  width: 40px;
  height: 23px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.relative_anchor {
  position: relative;
}

.relative_anchor .centered_div {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.narrow_center_container {
  max-width: 400px;
  margin: auto;
  /* padding: 16px; */
}

.register_player_form {
  padding: 16px;
}

.alias_length_warning {
  margin-top: 4px;
  color: red;
  text-shadow: none;
}

.alias_input:focus {
  outline: none;
}

.roboto_font {
  font-family: "Roboto", sans-serif;
}

.register_button {
  width: 92%;
  margin: 0px;
}

.in_game_content_flex_anchor {
  display: flex;
  height: calc(100% - 48px);
}

.game_left_content_pane_wrapper {
  flex: 2;
  height: 100%;
  /* height: calc(100% - 200px); */
}

.game_right_content_pane_wrapper {
  height: calc(100% - 40px);
}

.left_game_multi_container {
  height: 100%;
  flex: 2;
}

.left_game_content_pane_flex_anchor {
  display: flex;
  flex-direction: column;
}

.right_game_content_pane_flex_anchor {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.scoreboard_flex_wrapper {
  flex: 4;
  margin: 8px;
}

.settings_flex_wrapper {
  flex: 4;
  margin: 8px;
}

.in_game_settings_pane {
  padding: 8px;
}

.scoreboard_table_container {
  border-radius: 10px;
}

.scoreboard_table {
  width: 100%;
  color: var(--text_light);
}

.scoreboard_table th {
  font-family: "Audiowide", cursive;
  color: var(--text_light);
}

.scoreboard_player_row {
  padding-top: 1px;
  padding-bottom: 1px;
}

.gameplay_pane_wrapper {
  flex: 5;
  padding: 8px;
  height: calc(100% - 16px);
}

.gameplay_pane {
  padding: 8px;
  height: calc(100% - 48px);
}

.gameplay_pane_inner {
  height: 100%;
}

.instructions_card {
  text-align: center;
  margin: 4px;
}

.gameplay_timer {
  padding-top: 4px;
  text-align: center;
  vertical-align: top;
  bottom: 10px;
}

.timer_box_anchor {
  position: absolute;
  width: 300px;
  left: calc(50% - 150px);
  bottom: -8px;
  overflow: hidden;
}

.timer_box_wrapper {
  border-radius: 10px 10px 0 0;
  border-bottom: none;
  position: relative;
  height: 60px;
}

.timer_box {
  height: 160px;
}

.timer_box_inner {
  height: 100%;
  /* background-color: #fff; */
  box-shadow: inset -1em -1em 1em rgba(0, 0, 0, 0.1);

  background-color: var(--screen_color);

  box-shadow: inset 0 0 20px 10px rgb(7, 7, 7);

  color: var(--text_light);
}

.dynamic_content_container {
  padding: 8px;
  height: calc(100% - 90px);
  min-height: 300px;
  max-height: 800px;
  border-radius: 10px;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: auto;
}

.midi_button_group {
  margin: 8px;
  background-color: rgb(205, 205, 205);
  max-height: 160px;

  overflow: scroll;
  overflow-y: auto;
  overflow-x: auto;
}

.midi_button {
  background-color: rgb(238, 238, 238);
  color: rgb(80, 73, 73);
  cursor: pointer;
  display: block;
  padding: 4px;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  margin: 4px;
}

.midi_button:hover {
  background-color: gray;
}

.button_disabled {
  background-color: rgb(189, 189, 189);
}

strong {
  font-weight: bold;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.loading_keys_container {
  display: flex;
  align-items: center;
  height: 90%;
}
.loading_keys {
  margin: 1em auto;
  font-family: "Arial";
  font-weight: bold;
}
.loading_keys span {
  font-size: 3em;
  color: #ffffff;
  background: rgb(113, 112, 112);
  display: table-cell;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3), 0 5px 0 #ccc;
  padding: 0 15px;
  line-height: 100px;
  border-radius: 8px;
  text-align: center;
  width: 32px;
  animation: jumb 1s infinite;
}
@keyframes jumb {
  0% {
    transform: translateY(0px);
    box-shadow: 0 15px 0 #ffffff;
  }
  25% {
    transform: translateY(30px);
    box-shadow: 0 0px 0 #ffffff;
  }
  75% {
    transform: translateY(0px);
    box-shadow: 0 15px 0 #ffffff;
  }
  100% {
    transform: translateY(0px);
    box-shadow: 0 15px 0 #ffffff;
  }
}
.loading_keys span:nth-child(1) {
  animation-delay: 0s;
}
.loading_keys span:nth-child(2) {
  animation-delay: 0.1s;
}
.loading_keys span:nth-child(3) {
  animation-delay: 0.2s;
}
.loading_keys span:nth-child(4) {
  animation-delay: 0.3s;
}
.loading_keys span:nth-child(5) {
  animation-delay: 0.2s;
}
.loading_keys span:nth-child(6) {
  animation-delay: 0.1s;
}
.loading_keys span:nth-child(7) {
  animation-delay: 0s;
}

.header_nav {
  background-color: var(--header_nav_color);
  display: flex;
  align-items: center;
  padding: 8px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: hidden;
}

.logo_keys {
  font: 10px "Audiowide", cursive;
  fill: rgb(69, 69, 69);
}
.logo_text {
  font: 10px "Audiowide", cursive;
  fill: rgb(69, 69, 69);
}

.nav_header_logo {
  padding: 8px;
  left: 50%;
}

.page_content {
  margin-top: calc(var(--header_bar_height) + 8px);
}

.sticky {
  position: fixed;
  top: 0;
  width: calc(100% - 8px);
  overflow: hidden;
}

.navbar_actions_group {
  float: left;
  flex: 1;
}

.navbar_action {
  margin: 8px;
  border-radius: 10px;
}

.navbar_icon {
  transform: translateY(-1px);
  vertical-align: "middle";
  color: var(--text_light);
  top: -2px;
  border-radius: 4px;
}

.navbar_icon:hover {
  background-color: rgb(69, 69, 69);
  color: white;
}

.frozen {
  position: relative;
}

.audiowide_font {
  font-family: "Audiowide", cursive;
}

.frozen:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(242, 242, 242, 0.6);
}

.playback_recordings_container {
  /* height: 200px; */
}

.playback_progress {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
}

.cloaked_recording_fill {
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(3px);
}

.piano_roll_container {
  position: relative;
  width: 100%;
  min-height: 50px;
  height: 100%;
  /* border: 1px solid var(--text_dark); */
  z-index: 11;
  overflow: hidden;
}

.piano_roll_playhead_container {
  position: relative;
  transform: translateY(-53px);
  width: 100%;
  min-height: 50px;
  height: 100%;
  z-index: 11;
  overflow: hidden;
}

.empty_recording_roll {
  background-color: rgb(184, 184, 184);
}

.empty_recording_label {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--text_dark);
}

.recording_playback {
  flex: 5;
  padding: 8px;
  margin: auto;
  margin-top: 4px;
  background-color: var(--text_light);
  overflow: hidden;
}

.recording_playback_wrapper {
  padding: 8px;
  margin: 4px;
}

.highlight_on_hover {
  position: relative;
  cursor: pointer;
}

.highlight_on_hover:hover:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.4;
  background-color: gray;
}

.playback_vote_button_wrapper {
  padding: 8px;
  margin: auto;
  margin-top: 4px;
  height: 100%;
  width: 100%;
}

.rounded_border {
  border-radius: 10px;
}

.item_hover {
  background-color: #c7c7c7;
}

.item_selected {
  background-color: var(--inside_content_selected);
}

.main_menu_btn_group {
  padding: 8px;
}

.main_menu_btn_group .main_menu_btn {
  height: 80px;
  padding-top: 8px;
}
.main_menu_btn_group:first-child .main_menu_btn {
  padding-top: 16px;
}

.inline_width_text_input {
  width: 100%;
  background-color: white;
  cursor: pointer;
  height: 32px;
  font-size: 1em;
  border: 2px solid var(--border_color_1);
  border-radius: 6px;
}

.inline_width_input_submit {
  width: 100%;
  padding: 8px;
  min-height: 48px;
  max-height: 96px;
  margin-top: 16px;
  border-radius: 6px;
}

.inline_half_button {
  padding: 8px;
  width: 50%;
  min-height: 48px;
  max-height: 96px;
  margin-top: 16px;
  margin-left: 25%;
  border-radius: 6px;
}

.form_text_input {
  border-radius: 10px;
  padding: 8px;
}

.form_number_input {
  border-radius: 10px;
  border: 2px solid var(--border_color_1);
  border-radius: 6px;
  width: 32px;
  height: 32px;
  font-size: 1em;
}

.form_input_label {
  margin-bottom: 4px;
}

.chatbox_flex_wrapper {
  flex: 1;
  margin: 8px;
  position: relative;
  overflow: auto;
}

.chat_box {
  height: calc(100% - 16px);
  padding: 8px;
  overflow: auto;
}

.chat_messages_container {
  position: absolute;
  bottom: 36px;
}

.chat_message_item {
  overflow: wrap;
  padding: 2px;
}

.chat_message_author_label {
  color: var(--other_player_color);
  margin-right: 4px;
  float: left;
}

.chat_message_text {
  border-radius: 10px;
  word-break: break-word;
}

.chat_text_entry_container {
  position: absolute;
  bottom: 8px;
  display: flex;
  width: calc(100% - 16px);
}

.chat_text_entry {
  flex: 8;
  width: 50%;
  background: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 4px;
}

.chat_send_button {
  flex: 1;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  /* background-color: rgb(245, 245, 245);
  cursor: pointer;
  border: none;
  font-family: "Audiowide", cursive;
  color: var(--dark_gray);
  border: 2px solid var(--border_color_1); */
}

.chat_send_button:hover {
  background-color: rgb(233, 233, 233);
}

.chat_send_button:active {
  background-color: rgb(223, 223, 223);
  box-shadow: none;
}

.error_page {
  position: relative;
  /* background-color: white; */
  width: 100%;
  height: 100vh;
  color: var(--text_light);
}

.register_content_wrapper {
  margin: 16px;
}

.view_container {
  height: 100%;
  position: relative;
}

.styled_button {
  background-color: var(--screen_color);
  cursor: pointer;
  font-family: "Audiowide", cursive;
  color: var(--text_light);
  border: 2px solid var(--border_color_1);
}

.styled_button:hover {
  background-color: var(--inside_content_hover);
}

.styled_button:active {
  background-color: var(--inside_content_active);
}

.styled_button:disabled {
  border: 2px solid var(--inside_content_text_disabled);
  background-color: var(--inside_content_disabled);
  color: var(--inside_content_text_disabled);
  cursor: default;
}

.styled_button_disabled {
  font-family: "Audiowide", cursive;
  border: 2px solid var(--inside_content_text_disabled);
  background-color: var(--inside_content_disabled);
  color: var(--inside_content_text_disabled);
  cursor: default;
}

.refresh_button {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.settings_item_label {
  margin-top: 8px;
  color: var(--text_light);
}

.volume_slider_container {
  width: 100%;
  color: var(--text_light);
}

.volume_slider {
  -webkit-appearance: none;
  height: 5px;
  background: #bcc7da;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.volume_slider:hover {
  opacity: 1;
}

.volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #5085da;
  cursor: pointer;
  border-radius: 5px;
}

.volume_slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #5085da;
  cursor: pointer;
  border-radius: 5px;
}

.mobile_placeholder {
  height: 100%;
  margin: 8px;
  padding: 8px;
  border-radius: 10px;
  background-color: var(--main_theme_color);
}

.mobile_title {
  padding: 8px;
}

.warning_alert {
  margin: 8px;
  padding: 8px;
  background-color: var(--danger_bg_color);
  color: red;
  text-shadow: none;
}

.hidden_div {
  visibility: hidden;
}

.selected_sample_anchor {
}

.sample_selection_button:hover {
  cursor: pointer;
}

.selected_sample_label {
  float: right;
}

.selected_sample_player {
  top: -14px;
  float: left;
}

.selected_sample_play_button {
  margin-top: 8px;
  width: var(--practice_play_button_icon_size);
  height: var(--practice_play_button_icon_size);
  left: calc(50% - (var(--practice_play_button_icon_size) / 2));
  cursor: pointer;
  color: var(--text_light);
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.selected_sample_play_button:hover {
  opacity: 0.85;
}

.selected_sample_play_button:active {
  opacity: 1;
}

.selected_sample_play_button_icon {
  width: var(--practice_play_button_icon_size);
  height: var(--practice_play_button_icon_size);
}

.accent_bars {
  color: var(--accent_color_2);
}

.computer_button_text {
  font-family: "Audiowide", cursive;
  font-size: 1em;
  color: var(--text_light);
}

.full_height {
  height: 100vh;
}

.selected_player {
  background-color: var(--current_player_color);
}

.current_player_badge {
  float: right;
  padding: 4px;
  margin-right: 8px;
  background-color: var(--current_player_color);
  border-radius: 3px;
  color: var(--text_light);
}

.browser_warning_navbar_badge {
  float: right;
  padding: 4px;
  margin-right: 8px;
  background-color: var(--danger_bg_color);
  border-radius: 3px;
  color: red;
  cursor: pointer;
  border: 1px solid red;
}

.recording_bg {
  box-shadow: inset 0 0 40px 10px red;
  animation: recording_bg_anim 3s infinite;
}

@keyframes recording_bg_anim {
  0% {
    background-color: none;
  }
  33% {
    background-color: rgb(187, 87, 0);
  }
  66% {
    background-color: red;
  }
  100% {
    background-color: none;
  }
}

.player_role_text {
  color: var(--text_light);
  /* text-shadow: 0 0 10px white; */
}

.audience_member_role_text {
  color: var(--audience_member_color);
  /* text-shadow: 0 0 10px white; */
}

.alert_modal {
  backdrop-filter: blur(10px);
  display: block;
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.alert_modal_content {
  margin: auto;
  padding: 16px;
  border: 1px solid #888;
  width: 40%;
  height: 40%;
  color: black;
  overflow: auto;
  background-color: rgb(222, 222, 222);
}

/* The Close Button */
.alert_modal_close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.alert_modal_close:hover,
.alert_modal_close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.alert_title {
  font-size: 2em;
  color: black;
}

.front_window_modal {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 48px;
  width: 100%; /* Full width */
  height: calc(
    100% - var(--header_bar_height) - var(--footer_bar_height) - 24px
  ); /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /* animation: fadein 0.2s; */
}

.modal {
  backdrop-filter: blur(10px);
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  animation: fadein 0.2s;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Modal Content */
.modal_content {
  margin: auto;
  padding: 16px;
  border: 1px solid #888;
  width: 40%;
  height: 40%;
  color: black;
  background-color: rgb(222, 222, 222);
}

.modal_content_wide {
  margin: auto;
  padding: 16px;
  border: 1px solid #888;
  width: 60%;
  height: 60%;
  color: black;
  background-color: rgb(222, 222, 222);
}

/* The Close Button */
.modal_close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal_close:hover,
.modal_close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal_title {
  font-size: 2em;
  color: black;
}

.front_window {
  overflow: auto;
}

.developer_about_tagline_flex_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.developer_about_tagline {
  flex: 1;
  text-align: center;
  font-family: "Roboto", sans-serif;
  /* bottom: 16px; */
  padding: 16px;
}

.large_instructions_text {
  font-size: 1.2em;
  color: var(--text_light);
  font-family: "Roboto", sans-serif;
}

.footer_bar {
  padding: 8px;
  height: var(--footer_bar_height);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(35, 35, 38);
  text-align: center;
  font-family: "Audiowide", cursive;
  font-size: 0.8em;
}

.footer_bar_flex_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.footer_bar_flex_item {
  flex: 1;
  color: var(--text_light);
}

.resource_link:link {
  font-weight: 600;
  color: white;
  font-style: normal;
  text-decoration: none;
}

.resource_link:visited {
  color: var(--text_light);
  font-style: normal;
  text-decoration: none;
}

.error_page_text {
  font-size: 1.6em;
}

.error_page_link:link {
  font-weight: 600;
  color: var(--text_light);
}

.error_page_link:visited {
  color: var(--text_light);
  font-style: normal;
  text-decoration: none;
}

.about_page_play_button_container {
  height: 80px;
}

* {
  -webkit-font-smoothing: antialiased;
}

.elixir_accent:link {
  color: rgb(185, 181, 255);
}
.elixir_accent:visited {
  color: rgb(185, 181, 255);
}

.browser_warning_content_wrapper {
  padding: 8px;
  overflow: auto;
}

.browser_warning_flex_anchor {
  display: flex;
  padding: 16px;
}

.supported_browser_item {
  flex: 1;
  text-align: center;
}

.extreme_countdown_text {
  margin-left: 4px;
  position: absolute;
  animation: text_popup 1s infinite;
  text-align: center;
}
@keyframes text_popup {
  0% {
    font-size: 2em;
    transform: translateY(-12px);
  }
  100% {
    font-size: 1em;
  }
}

:root {
  --sound_wave_bar_width: 10px;
}

.sound_wave_bars {
  height: 30px;
  position: absolute;
  width: 40px;
}

.sound_wave_bar {
  background: var(--text_light);
  bottom: 1px;
  height: 3px;
  position: absolute;
  width: var(--sound_wave_bar_width);
  animation: sound_waves 0ms -800ms linear infinite alternate;
}

@keyframes sound_waves {
  0% {
    height: 1px;
  }
  100% {
    height: 32px;
  }
}

.sound_wave_bar:nth-child(1) {
  left: 1px;
  animation-duration: 474ms;
}
.sound_wave_bar:nth-child(2) {
  left: calc((var(--sound_wave_bar_width) * 1) + 1px);
  animation-duration: 433ms;
}
.sound_wave_bar:nth-child(3) {
  left: calc((var(--sound_wave_bar_width) * 2) + 1px);
  animation-duration: 407ms;
}
.sound_wave_bar:nth-child(4) {
  left: calc((var(--sound_wave_bar_width) * 3) + 1px);
  animation-duration: 458ms;
}
.sound_wave_bar:nth-child(5) {
  left: calc((var(--sound_wave_bar_width) * 4) + 1px);
  animation-duration: 400ms;
}
.sound_wave_bar:nth-child(6) {
  left: calc((var(--sound_wave_bar_width) * 5) + 1px);
  animation-duration: 427ms;
}
.sound_wave_bar:nth-child(7) {
  left: calc((var(--sound_wave_bar_width) * 6) + 1px);
  animation-duration: 441ms;
}
.sound_wave_bar:nth-child(8) {
  left: calc((var(--sound_wave_bar_width) * 7) + 1px);
  animation-duration: 419ms;
}
.sound_wave_bar:nth-child(9) {
  left: calc((var(--sound_wave_bar_width) * 8) + 1px);
  animation-duration: 487ms;
}
.sound_wave_bar:nth-child(10) {
  left: calc((var(--sound_wave_bar_width) * 9) + 1px);
  animation-duration: 442ms;
}
