.computer_frame {
  height: calc(100vh - 88px);
  margin: 8px;
  border-radius: 10px;
  background-color: #ebdfce;
}

.computer_frame .frame_bevel {
  height: 100%;
  padding: 8px;
  border-radius: 10px;
  background-color: #ebdfce;
}

.banner_button {
  box-shadow: 0 5px 13px rgb(0 0 0 / 8%);
  padding: 8px;
  background-color: #ebdfce;
  width: 50%;
  cursor: pointer;
  min-height: 48px;
  max-height: 96px;
  margin-top: 16px;
  margin-left: 25%;
  border-radius: 10px;
}

.banner_button:active {
  box-shadow: none;
}

.content_button {
  margin-top: 8px;
  padding: 8px;
  cursor: pointer;
  min-height: 48px;
  max-height: 96px;
  border: 2px solid #666;
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(
    to bottom right,
    rgb(172, 172, 172),
    rgb(232, 232, 232)
  );
  border-radius: 10px;
}
.content_button:hover {
  background-image: linear-gradient(
    to bottom right,
    rgb(142, 142, 142),
    rgb(196, 196, 196)
  );
}

.landing_page_content {
  max-width: 100%;
  margin: auto;
  padding: 16px;
  color: #666;
}

.serverlist_page_content {
  height: calc(100% - 88px);
  /* overflow: hidden; */
  max-width: 100%;
  margin: auto;
  padding: 16px;
  color: #666;
}

.serverlist_flex_anchor {
  height: 100%;
  margin-top: 16px;
  display: flex;
}

.serverlist_table_wrapper {
  overflow: auto;
  flex: 16;
  border-radius: 10px;
  margin-left: 16px;
}

.serverlist_create_room_wrapper {
  max-height: calc(100% - 136px);
  overflow-x: hidden;
  overflow-y: auto;
  flex: 8;
  border-radius: 10px;
}

.create_room_wrapper {
  padding: 8px;
  /* width: 100%; */
}

.create_room_form {
  padding: 8px;
}

.serverlist_details_pane {
  background-color: #fff;
  padding: 8px;
  border-radius: 10px;
  height: 300px;
  max-height: calc(100% - 136px);
  overflow: auto;
}

.serverlist_details_pane_wrapper {
  overflow: auto;
  flex: 6;
  margin-left: 16px;
}

.server_details_content_wrapper {
  position: relative;
  width: 100%;
  height: 70%;
}

.server_details_content_body {
  padding-top: 8px;
  padding-bottom: 8px;
  font-style: bold;
}

.server_details_connect_button {
  bottom: 0;
  margin-left: 0;
  margin-right: 0;
  width: calc(100% - 36px);
}

.serverlist_table {
  width: 100%;
  height: 100%;
}

.serverlist_table th {
  font-family: "Audiowide", cursive;
  color: #666;
}

.serverlist_table table,
.serverlist_table td {
  border-collapse: collapse;
}

.serverlist_table thead {
  display: table; /* to take the same width as tr */
  width: calc(100% - 17px); /* - 17px because of the scrollbar width */
}

.serverlist_table tbody {
  height: calc(100% - 32px);
  display: block; /* to enable vertical scrolling */
  overflow-y: scroll; /* keeps the scrollbar even if it doesn't need it; display purpose */
}

.serverlist_table th,
.serverlist_table td {
  width: 25%; /* to enable "word-break: break-all" */
  padding: 5px;
  word-break: break-all; /* 4. */
}

.serverlist_table tr {
  display: table; /* display purpose; th's border */
  width: 100%;
  box-sizing: border-box; /* because of the border (Chrome needs this line, but not FF) */
}

.serverlist_table td {
  border-bottom: none;
  border-left: none;
}

.centered_title {
  font-family: "Audiowide", cursive;
  text-align: center;
}

.left_title {
  font-family: "Audiowide", cursive;
  text-align: left;
  padding-left: 8px;
}

.landing_page_info {
  margin: auto;
  margin-top: 16px;
  padding: 16px;
  color: #666;
  border-radius: 10px;
}

.landing_page_info dt {
  padding-left: 8px;
}

.serverlist_table tbody tr {
  cursor: pointer;
}

.serverlist_table tbody tr:hover {
  background-color: #c7c7c7;
}

.narrow_page_container {
  max-width: 800px;
  margin: auto;
  padding: 24px;
  margin-top: 16px;
}

.pregame_lobby_page_content {
  max-width: 100%;
  margin: auto;
  padding: 16px;
  color: #666;
}

.outset_3d_border_deep {
  border-bottom: 16px solid #c2b6a4;
  border-right: 16px solid #cdc2b3;
  border-top: 16px solid #f0e7db;
  border-left: 16px solid #e9dbc9;
}

.outset_3d_border_shallow {
  border-bottom: 8px solid #c2b6a4;
  border-right: 8px solid #cdc2b3;
  border-top: 8px solid #f0e7db;
  border-left: 8px solid #e9dbc9;
}

.inset_3d_border_deep {
  border-top: 16px solid #c2b6a4;
  border-left: 16px solid #cdc2b3;
  border-bottom: 16px solid #f0e7db;
  border-right: 16px solid #e9dbc9;
  border-radius: 10px;
}

.inset_3d_border_shallow {
  border-top: 12px solid #c2b6a4;
  border-left: 12px solid #cdc2b3;
  border-bottom: 12px solid #f0e7db;
  border-right: 12px solid #e9dbc9;
  /* border-radius: 10px; */
}

.selected_highlight_color {
  background-color: #c7c7c7;
}

.inline_screen {
  background-color: rgb(249, 248, 244);
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1);
}

.pregame_lobby_flex_anchor {
  display: flex;
  margin-top: 16px;
}

.pregame_lobby_flex_anchor .pregame_content_pane {
  flex: 1;
}

.pregame_join_form {
  min-height: 400px;
}

.switch {
  position: relative;
  display: inline-block;
  top: 3px;
  width: 40px;
  height: 23px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.relative_anchor {
  position: relative;
}

.relative_anchor .centered_div {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.narrow_center_container {
  max-width: 400px;
  margin: auto;
  /* padding: 16px; */
}

.register_player_form {
  padding: 16px;
}

.alias_length_warning {
  margin-top: 4px;
  color: red;
}

.alias_input:focus {
  outline: none;
}

.roboto_font {
  font-family: "Roboto", sans-serif;
}

.register_button {
  width: 92%;
  margin: 0;
}

.in_game_content_flex_anchor {
  display: flex;
  height: calc(100% - 48px);
}

.game_left_content_pane_wrapper {
  flex: 2;
  height: 100%;
  /* height: calc(100% - 200px); */
}

.game_right_content_pane_wrapper {
  width: 20%;
  height: 100%;
  /* height: calc(100% - 200px); */
}

.left_game_content_pane_flex_anchor {
  display: flex;
  flex-direction: column;
}

.right_game_content_pane_flex_anchor {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.scoreboard_flex_wrapper {
  flex: 4;
  margin: 8px;
}

.settings_flex_wrapper {
  flex: 4;
  margin: 8px;
}

.in_game_settings_pane {
  padding: 8px;
}

.scoreboard_table_container {
  border-radius: 10px;
}

.scoreboard_table {
  width: 100%;
}

.scoreboard_table th {
  font-family: "Audiowide", cursive;
  color: #666;
}

.scoreboard_player_row {
  padding-top: 1px;
  padding-bottom: 1px;
}

.gameplay_pane_wrapper {
  flex: 5;
  padding: 8px;
  height: calc(100% - 16px);
}

.gameplay_pane {
  padding: 8px;
  height: calc(100% - 48px);
}

.gameplay_pane_inner {
  height: 100%;
}

.instructions_card {
  text-align: center;
  margin: 4px;
}

.gameplay_timer {
  text-align: center;
  vertical-align: top;
  bottom: 10px;
}

.timer_box_anchor {
  position: absolute;
  bottom: 48px;
  width: 256px;
  left: calc(50% - 100px);
}

.timer_box_wrapper {
  border-radius: 10px 10px 0 0;
  border-bottom: none;
  position: relative;
  height: 60px;
}

.timer_box {
  height: 36px;
}

.timer_box_inner {
  height: 36px;
  background-color: #fff;
  box-shadow: inset -1em -1em 1em rgba(0, 0, 0, 0.1);
}

.dynamic_content_container {
  padding: 8px;
  height: calc(100% - 90px);
  min-height: 300px;
  max-height: 800px;
  border-radius: 10px;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: auto;
}

.midi_button_group {
  margin: 8px;
  background-color: rgb(205, 205, 205);
  max-height: 160px;

  overflow: scroll;
  overflow-y: auto;
  overflow-x: auto;
}

.midi_button {
  background-color: rgb(238, 238, 238);
  color: black;
  cursor: pointer;
  display: block;
  padding: 4px;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  margin: 4px;
}

.midi_button:hover {
  background-color: gray;
}

.button_disabled {
  background-color: rgb(189, 189, 189);
}

strong {
  font-weight: bold;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.loading_keys_container {
  margin: 200px;
  display: flex;
  align-items: center;
  height: 90%;
  left: 200px;
}
.loading_keys {
  margin: 1em auto;
  font-family: "Arial";
  font-weight: bold;
}
.loading_keys span {
  font-size: 3em;
  color: #f0e7db;
  background: rgb(113, 112, 112);
  display: table-cell;
  /* box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3), 0 5px 0 #ccc; */
  padding: 0 15px;
  line-height: 100px;
  animation: jumb 1s infinite;
}
@keyframes jumb {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
    box-shadow: 0 15px 0 #f0e7db;
  }
  100% {
    transform: translateY(0px);
  }
}
.loading_keys span:nth-child(1) {
  border-radius: 10px 0 0 10px;
  animation-delay: 0s;
}
.loading_keys span:nth-child(2) {
  animation-delay: 0.1s;
}
.loading_keys span:nth-child(3) {
  animation-delay: 0.2s;
}
.loading_keys span:nth-child(4) {
  animation-delay: 0.3s;
}
.loading_keys span:nth-child(5) {
  animation-delay: 0.4s;
}
.loading_keys span:nth-child(6) {
  animation-delay: 0.5s;
}
.loading_keys span:nth-child(7) {
  animation-delay: 0.6s;
}
.loading_keys span:last-child {
  border-radius: 0 10px 10px 0;
}

.header_nav {
  background-color: rgb(227, 227, 227);
  display: flex;
  align-items: center;
  padding: 4px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: hidden;
}

.logo_keys {
  font: 10px "Audiowide", cursive;
  fill: rgb(69, 69, 69);
}
.logo_text {
  font: 10px "Audiowide", cursive;
  fill: rgb(69, 69, 69);
}

.nav_header_logo {
  padding: 8px;
  left: 50%;
}

.page_content {
  margin-top: 48px;
}

.sticky {
  position: fixed;
  top: 0;
  width: calc(100% - 8px);
  overflow: hidden;
}

.navbar_actions_group {
  float: left;
  flex: 1;
}

.navbar_action {
  margin: 8px;
  border-radius: 10px;
}

.navbar_icon {
  vertical-align: "middle";
  color: rgb(69, 69, 69);
  border-radius: 4px;
}

.navbar_icon:hover {
  background-color: rgb(69, 69, 69);
  color: white;
}

.frozen {
  position: relative;
}

.frozen:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(242, 242, 242, 0.6);
}

.playback_progress {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
}

.cloaked_recording_fill {
  background-color: black;
  opacity: 0.5;
}

.recording_playback {
  flex: 5;
  padding: 8px;
  margin: auto;
  margin-top: 4px;
  border: 1px solid #666;
  box-shadow: 0 5px 5px rgb(0 0 0 / 8%);
  color: #666;
  overflow: hidden;
}

.highlight_on_hover:hover {
  background-color: #f8f8f8;
  cursor: pointer;
}

.piano_roll_container {
  position: relative;
  width: 100%;
  min-height: 50px;
  height: 100%;
  border: 1px solid black;
}

.rounded_border {
  border-radius: 10px;
}

.item_hover {
  background-color: #c7c7c7;
}

.item_selected {
  background-color: #aeaeae;
}

.main_menu_btn_group {
  padding: 8px;
}

.main_menu_btn_group .main_menu_btn {
  padding-top: 8px;
}
.main_menu_btn_group:first-child .main_menu_btn {
  padding-top: 16px;
}

.inline_width_text_input {
  width: 100%;
  background-color: white;
  cursor: pointer;
  height: 32px;
  font-size: 1em;
  border: 2px solid #999;
  border-radius: 6px;
}

.inline_width_input_submit {
  width: 100%;
  padding: 8px;
  min-height: 48px;
  max-height: 96px;
  margin-top: 16px;
  border-radius: 6px;
}

.inline_half_button {
  padding: 8px;
  width: 50%;
  min-height: 48px;
  max-height: 96px;
  margin-top: 16px;
  margin-left: 25%;
  border-radius: 6px;
}

.form_text_input {
  border-radius: 10px;
  padding: 8px;
}

.form_number_input {
  border-radius: 10px;
  border: 2px solid #999;
  border-radius: 6px;
  width: 32px;
  height: 32px;
  font-size: 1em;
}

.form_input_label {
  margin-bottom: 4px;
}

.chatbox_flex_wrapper {
  flex: 1;
  margin: 8px;
  position: relative;
  overflow: auto;
}

.chat_box {
  height: calc(100% - 16px);
  padding: 8px;
  overflow: auto;
}

.chat_messages_container {
  position: absolute;
  bottom: 36px;
}

.chat_message_item {
  overflow: wrap;
  padding: 2px;
}

.chat_message_author_label {
  color: red;
  margin-right: 4px;
  float: left;
}

.chat_message_text {
  border-radius: 10px;
  word-break: break-word;
}

.chat_text_entry_container {
  position: absolute;
  bottom: 8px;
  display: flex;
  width: calc(100% - 16px);
}

.chat_text_entry {
  flex: 8;
  width: 50%;
  background: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 4px;
}

.chat_send_button {
  flex: 1;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  /* background-color: rgb(245, 245, 245);
  cursor: pointer;
  border: none;
  font-family: "Audiowide", cursive;
  color: #666;
  border: 2px solid #999; */
}

.chat_send_button:hover {
  background-color: rgb(233, 233, 233);
}

.chat_send_button:active {
  background-color: rgb(223, 223, 223);
  box-shadow: none;
}

.error_page {
  position: relative;
  background-color: white;
  width: 100%;
  height: 100vh;
}

.register_content_wrapper {
  margin: 16px;
}

.view_container {
  height: 100%;
}

.styled_button {
  background-color: rgb(245, 245, 245);
  cursor: pointer;
  font-family: "Audiowide", cursive;
  color: #666;
  border: 2px solid #999;
}

.styled_button:hover {
  background-color: rgb(233, 233, 233);
}

.styled_button:active {
  background-color: rgb(223, 223, 223);
  box-shadow: none;
}

.settings_item_label {
  color: #666;
}

.volume_slider_container {
  width: 100%;
}

.volume_slider {
  -webkit-appearance: none;
  height: 5px;
  background: #bcc7da;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.volume_slider:hover {
  opacity: 1;
}

.volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #5085da;
  cursor: pointer;
  border-radius: 5px;
}

.volume_slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #5085da;
  cursor: pointer;
  border-radius: 5px;
}
