/* game layout */
.game_layout {
  display: flex;
  flex-direction: row;
  max-height: 1200px;
  max-width: 1200px;
  padding: 8px;
  border-radius: 4px;
}

/* left sidebar */
.left_sidebar {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  padding: 8px;
  border: 1px solid black;
  border-radius: 4px;
}
.game_layout .left_sidebar {
  flex-grow: 1;
}

/* game content */
.game_content_container {
  border: 1px solid black;
  padding: 8px;
  border-radius: 4px;
}
.game_layout .game_content_container {
  flex-grow: 6;
}

/* players box */
.players_box {
  height: 400px;
  border: 1px solid black;
  padding: 8px;
  border-radius: 4px;
}
.left_sidebar .players_box {
  flex-grow: 2;
}

/* settings box */
.settings_box {
  height: 200px;
  border: 1px solid black;
  padding: 8px;
  border-radius: 4px;
}
.left_sidebar .settings_box {
  flex-grow: 1;
}
