/* game_layout */
.game_layout {
  display: flex;
  flex-direction: row;
  max-height: 1200px;
  max-width: 1200px;
  padding: 8px;
}

/* left_sidebar */
.left_sidebar {
  width: 220px;
  padding-right: 8px;
  display: flex;
  flex-direction: column;
}

/* game_content */
.game_content_container {
  padding: 8px;
}
.game_layout .game_content_container {
  flex-grow: 6;
}

/* game_content_dynamic */
.game_content_dynamic {
  margin-bottom: 8px;
  min-height: 300px;
  background-color: green;
}

/* game_content_instructions */
.game_content_instructions {
  background-color: red;
  max-height: 220px;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: auto;
}

/* scoreboard */
.scoreboard {
  height: 400px;
  padding: 8px;
  background-color: #ffff;
}
.left_sidebar .scoreboard {
  flex-grow: 2;
}

/* settings_box */
.settings_box {
  height: 200px;
  padding: 8px;
}
.left_sidebar .settings_box {
  flex-grow: 1;
}

/* player_row_rank */
.player_row_rank {
  width: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  top: 3px;
  width: 40px;
  height: 23px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
