.in_game_content_flex_anchor {
  display: flex;
}

.game_left_content_pane_wrapper {
  flex: 2;
}

.left_game_content_pane_flex_anchor {
  display: flex;
  flex-direction: column;
}

.scoreboard_flex_wrapper {
  flex: 4;
  margin: 8px;
}

.settings_flex_wrapper {
  flex: 4;
  margin: 8px;
}

.in_game_settings_pane {
  padding: 8px;
}

.scoreboard_table_container {
  border-radius: 10px;
}

.scoreboard_table {
  width: 100%;
}

.scoreboard_player_row {
  padding-top: 1px;
  padding-bottom: 1px;
}

.gameplay_pane_wrapper {
  flex: 5;
  padding: 8px;
  overflow: hidden;
}

.gameplay_pane {
  padding: 8px;
}

.instructions_card {
  text-align: center;
  margin: 4px;
}

.gameplay_timer {
  text-align: center;
  vertical-align: top;
  bottom: 10px;
}

.timer_box_wrapper {
  border-radius: 10px 10px 0 0;
  border-bottom: none;
  transform: translate(0%, 28%);
  -ms-transform: translate(0%, 30%);
  -moz-transform: translate(0%, 30%);
  -o-transform: translate(0%, 30%);
  position: relative;
  height: 60px;
  width: 30%;
  left: 35%;
}

.timer_box {
  height: 36px;
}

.timer_box_inner {
  height: 36px;
  background-color: #fff;
  box-shadow: inset -1em -1em 1em rgba(0, 0, 0, 0.1);
}

.dynamic_content_container {
  padding: 8px;
  height: 400px;
  border-radius: 10px;
}

.midi_button {
  background-color: rgb(204, 220, 255);
  color: black;
  cursor: pointer;
  display: block;
  max-height: 200px;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: auto;
  padding: 4px;
  border: 1px solid #666;
  font-family: "Roboto", sans-serif;
}

.midi_button:hover {
  background-color: gray;
}

.btn-group .midi_button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

.button_disabled {
  background-color: rgb(189, 189, 189);
}
