:root {
  --selected_player_color: #296cff;
  --recording_color: #ef5757;
  --note_label_for_black_keys: yellow;
  --note_label_for_white_keys: black;
  --corner_border_radius: 0px;
  --key_border_radius: 0 0 var(--corner_border_radius)
    var(--corner_border_radius);
}

.ReactPiano__Keyboard {
  /* Used for absolute positioning of .ReactPiano__Key--accidental elements */
  position: relative;
  /* Used to lay out .ReactPiano__Key--natural elements */
  display: flex;
}

.ReactPiano__Key {
  /* Used for flexbox layout of the child .ReactPiano__NoteLabelContainer elements */
  display: flex;
}

/*
 * Styles of accidental notes (flat or sharp)
 */
.ReactPiano__Key--accidental {
  background: rgb(33, 32, 32);
  border: 1px solid #fff;
  border-top: 1px solid transparent;
  border-radius: var(--key_border_radius);
  cursor: pointer;
  height: 66%;
  /* Overlay on top of natural keys */
  z-index: 1;
  /* Use absolute positioning along with inline styles specified in JS to put keys in correct locations. */
  position: absolute;
  top: 0;
}

/*
 * Styles of natural notes (white keys)
 */
.ReactPiano__Key--natural {
  background: #f8f6f1;
  border: 1px solid #888;
  border-radius: var(--key_border_radius);
  cursor: pointer;
  z-index: 0;
  /*
   * Uses flexbox with margin instead of absolute positioning to have more consistent margin rendering.
   * This causes inline styles to be ignored.
   */
  flex: 1;
  margin-right: 0px;
}

.ReactPiano__Key--natural:last-child {
  /* Don't render extra margin on the last natural note */
  margin-right: 0;
  border-top-right-radius: var(--corner_border_radius);
}

.ReactPiano__Key--natural:first-child {
  /* Don't render extra margin on the last natural note */
  margin-right: 0;
  border-top-left-radius: var(--corner_border_radius);
}

/*
 * Styles of "active" or pressed-down keys
 */
.ReactPiano__Key--active {
  background: var(--selected_player_color);
  animation: pressed_anim_active 0.15s linear infinite;
}

@keyframes pressed_anim_active {
  0% {
    box-shadow: 0 0 2px var(--selected_player_color),
      0 0 10px var(--selected_player_color),
      0 0 20px var(--selected_player_color),
      0 0 100px var(--selected_player_color);
  }
  50% {
    box-shadow: 0 0 1px var(--selected_player_color),
      0 0 2px var(--selected_player_color), 0 0 6px var(--selected_player_color),
      0 0 30px var(--selected_player_color);
  }
  100% {
    box-shadow: 0 0 2px var(--selected_player_color),
      0 0 10px var(--selected_player_color),
      0 0 20px var(--selected_player_color),
      0 0 100px var(--selected_player_color);
  }
}

.ReactPiano__Key--recording {
  background: var(--recording_color);
  animation: pressed_anim_recording 0.15s linear infinite;
}

@keyframes pressed_anim_recording {
  0% {
    box-shadow: 0 0 2px var(--recording_color), 0 0 10px var(--recording_color),
      0 0 20px var(--recording_color), 0 0 100px var(--recording_color);
  }
  50% {
    box-shadow: 0 0 1px var(--recording_color), 0 0 2px var(--recording_color),
      0 0 6px var(--recording_color), 0 0 30px var(--recording_color);
  }
  100% {
    box-shadow: 0 0 2px var(--recording_color), 0 0 10px var(--recording_color),
      0 0 20px var(--recording_color), 0 0 100px var(--recording_color);
  }
}

.ReactPiano__Key--active.ReactPiano__Key--accidental {
  border: 1px solid #fff;
  border-top: 1px solid var(--selected_player_color);
  /* Slight height reduction for "pushed-down" effect */
  /* height: 65%; */
}

.ReactPiano__Key--active.ReactPiano__Key--natural {
  border: 1px solid #fff;
  /* Slight height reduction for "pushed-down" effect */
  /* height: 98%; */
}

/*
 * Styles for disabled state
 */
.ReactPiano__Key--disabled.ReactPiano__Key--accidental {
  background: #ddd;
  border: 1px solid #999;
}

.ReactPiano__Key--disabled.ReactPiano__Key--natural {
  background: #eee;
  border: 1px solid #aaa;
}

/*
 * Styles for the note label inside a piano key
 */
.ReactPiano__NoteLabelContainer {
  flex: 1;
  /* Align children .ReactPiano__NoteLabel to the bottom of the key */
  align-self: flex-end;
}

.ReactPiano__NoteLabel {
  font-size: 12px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  text-align: center;
  text-transform: capitalize;
  /* Disable text selection */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ReactPiano__NoteLabel--accidental {
  color: var(--note_label_for_black_keys);
  margin-bottom: 3px;
}

.ReactPiano__NoteLabel--natural {
  color: var(--note_label_for_white_keys);
  /* text-shadow: 0 0 4px yellow; */
  margin-bottom: 3px;
}

.ReactPiano__NoteLabel--natural.ReactPiano__NoteLabel--active {
  color: var(--note_label_for_black_keys);
}
