@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

:root {
  --neon_color: #ef5757;
  --sample_length: 10.66667s;
}

.neon_border {
  position: relative;
  color: var(--neon_color);
  text-decoration: none;
  transition: 0.5s;
  overflow: hidden;
  box-shadow: 0 0 5px var(--neon_color), 0 0 25px var(--neon_color),
    0 0 50px var(--neon_color), 0 0 200px var(--neon_color);
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  animation: smooth_border_transition 2s linear infinite;
}

@keyframes smooth_border_transition {
  0% {
    box-shadow: 0 0 5px var(--neon_color), 0 0 25px var(--neon_color),
      0 0 50px var(--neon_color), 0 0 200px var(--neon_color);
  }
  50% {
    box-shadow: 0 0 5px var(--neon_color), 0 0 10px var(--neon_color),
      0 0 20px var(--neon_color), 0 0 100px var(--neon_color);
  }
  100% {
    box-shadow: 0 0 5px var(--neon_color), 0 0 25px var(--neon_color),
      0 0 50px var(--neon_color), 0 0 200px var(--neon_color);
  }
}

.neon_border .anim_line {
  position: absolute;
  display: block;
}
.neon_border .anim_line:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, transparent, var(--neon_color));
  animation: animate1 var(--sample_length) linear infinite;
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
.neon_border .anim_line:nth-child(2) {
  top: -100%;
  right: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--neon_color));
  animation: animate2 var(--sample_length) linear infinite;
  animation-delay: calc(var(--sample_length) / 4);
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
.neon_border .anim_line:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 4px;
  background: linear-gradient(270deg, transparent, var(--neon_color));
  animation: animate3 var(--sample_length) linear infinite;
  animation-delay: calc((var(--sample_length) / 4) * 2);
}
@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.neon_border .anim_line:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--neon_color));
  animation: animate4 var(--sample_length) linear infinite;
  animation-delay: calc((var(--sample_length) / 4) * 3);
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
